---
---

// Cybersecurity-themed color scheme
$cyber-dark: #0a0e27;
$cyber-blue: #00d9ff;
$cyber-green: #00ff41;
$cyber-purple: #b026ff;
$text-light: #e0e0e0;
$bg-dark: #1a1f3a;

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-dark;
  color: $text-light;
  font-family: 'Courier New', Consolas, monospace;
  line-height: 1.6;
  font-size: 16px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

// Header
.site-header {
  background-color: $cyber-dark;
  border-top: 3px solid $cyber-blue;
  border-bottom: 1px solid $cyber-blue;
  padding: 20px 0;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .site-title {
    color: $cyber-green;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 2px;
    text-decoration: none;
    
    &:hover {
      color: $cyber-blue;
    }
  }
  
  .site-nav {
    .page-link {
      color: $text-light;
      text-decoration: none;
      margin-left: 20px;
      
      &:hover {
        color: $cyber-blue;
      }
    }
  }
}

// Main content
.page-content {
  padding: 40px 0;
  min-height: 70vh;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  color: $cyber-green;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  
  &::before {
    content: "> ";
    color: $cyber-blue;
  }
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }

p {
  margin-bottom: 1em;
}

// Links
a {
  color: $cyber-blue;
  text-decoration: none;
  border-bottom: 1px dotted $cyber-blue;
  
  &:hover {
    color: $cyber-green;
    border-bottom: 1px solid $cyber-green;
  }
  
  &:visited {
    color: $cyber-purple;
  }
}

// Lists
ul, ol {
  margin-left: 30px;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

// Code blocks
code {
  background-color: $cyber-dark;
  color: $cyber-green;
  padding: 2px 6px;
  border-radius: 3px;
  font-family: 'Courier New', Consolas, monospace;
  border: 1px solid $cyber-blue;
}

pre {
  background-color: $cyber-dark;
  border: 1px solid $cyber-blue;
  border-left: 3px solid $cyber-green;
  padding: 15px;
  overflow-x: auto;
  margin-bottom: 1em;
  
  code {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

// Blockquotes
blockquote {
  border-left: 3px solid $cyber-purple;
  padding-left: 20px;
  margin: 1.5em 0;
  font-style: italic;
  color: $cyber-blue;
  background-color: rgba(176, 38, 255, 0.05);
  padding: 15px 20px;
}

// Post list
.post-list {
  list-style: none;
  margin-left: 0;
  
  li {
    margin-bottom: 30px;
  }
  
  .post-link {
    font-size: 1.4em;
    color: $cyber-green;
    border-bottom: none;
    
    &:hover {
      color: $cyber-blue;
    }
  }
  
  .post-meta {
    color: $cyber-blue;
    font-size: 0.9em;
  }
}

// Post content
.post-header {
  margin-bottom: 30px;
  
  .post-title {
    margin-top: 0;
  }
}

.post-meta {
  color: $cyber-blue;
  font-size: 0.9em;
}

.post-content {
  h2, h3, h4 {
    margin-top: 1.5em;
  }
}

// Footer
.site-footer {
  background-color: $cyber-dark;
  border-top: 1px solid $cyber-blue;
  padding: 30px 0;
  margin-top: 40px;
  
  a {
    color: $cyber-blue;
    
    &:hover {
      color: $cyber-green;
    }
  }
}

// Responsive
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  
  h1 { font-size: 1.8em; }
  h2 { font-size: 1.4em; }
  
  .site-header .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .site-nav .page-link {
    margin-left: 0;
    margin-right: 15px;
  }
}